body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.container {
    max-width: 812px;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
}
h1 {
    color: #003399;
    font-size: 1.9em;
}
.row {
    margin-bottom: 12px;
}
label {
    display: inline-block;
    width: 117px;
    font-weight: bold;
}
input[type=text], input[type=email] {
    width: 224px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.margin_left {
    margin-left: 122px;
}
